@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap");

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    max-width: 400px;

    margin: 164px auto;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.2);
}
.tags {
    margin: 1.5rem 0;
}
.card-content {
    padding: 2rem 1.5rem;
}
.tags span {
    background-color: #e6d6fc;
    color: #883ae1;
    font-family: "Sora";
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
    font-size: small;
}
.text-container {
    font-family: "Sora";
}

.text-container h2 {
    margin-bottom: 1rem;
    color: #20293a;
    font-size: 1.2rem;
}

.text-container p {
    font-size: 1rem;
    font-weight: 200;
    color: #6c727f;
}
.img-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.author {
    width: 100%;
    padding: 1.5rem 1.5rem;
}
hr {
    opacity: 0.2;
}
.author h2 {
    color: #6c727f;
    font-family: "Sora";
    font-weight: normal;
    font-size: 0.8em;
}
